body {
  color: #40514E;
  font-family: 'Merriweather', serif;
  margin:0;
  text-align: center;
}

.bottom-container {
  background-color: #66BFBF;
  color: #11999E;
  padding-bottom: 1px;
  padding-top: 1px;
  position: relative;

}

.btn {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 50px;
   line-height: 50px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   width: 200px;
   font-size: 24px;
   font-weight: 600;
   margin: 50px auto 50px auto;
   background-color: #66BFBF;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.contact-me {
  margin: auto;
  padding-bottom: 25px;
  padding-top: 25px;
  position: relative;
  width: 50%;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  line-height: normal;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.8125rem;
  margin: auto;
  width: 40%;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

hr{
  border-color: gray;
  border-style: dotted none none;
  border-width: 5px;
  height: 0;
  width: 2%;
}

.middle-container {
  padding-top: 25px;
  position: relative;
}

.profile {
  margin: auto;
  padding-bottom: 25px;
  padding-top: 25px;
  position: relative;
  width: 50%;
}

.profile-pic {
  padding-top: 25px;
  position: relative;
}

.scrum {
  padding-top: 50px;
  position: relative;
}


.skill {
  padding-top: 25px;
  position: relative;
}

.skill-row {
  width: 50%;
  margin: 25px auto 25px auto;
}

.skill-table {
  margin: 25px auto 25px auto;
  text-align: left;
}

.skills {
  padding-bottom: 25px;
  padding-top: 25px;
  position: relative;
}

.title {
  font-size: 3.5rem;
}

.top-container {
  background-color: #E4F9F5;
  padding-bottom: 50px;
  padding-top: 50px;
  position: relative;
}
